# dependencies
/node_modules

# production
/dist
/build

# misc
.DS_Store
.env
.env.local
.env.*.local

# log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# editor files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# OS files
Thumbs.db
Desktop.ini

# typescript
*.tsbuildinfo

# coverage
/coverage

# optional redux devtools file 
redux-devtools-extension.js